body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
p,
a {
  font-family: $main-font;
  line-height: 32px;
}

a {
  font-weight: 600;
}
.title_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 500px;
  justify-content: center;
}

.txt_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1em 0 1em;
}

.layout_1 {
  background-color: $base-color;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
}

.layout_2 .img_wrapper,
.layout_6 .img_wrapper {
  margin: 0;
}

.layout_5 {
  background-color: $base-color;
  display: flex;
  justify-content: center;
  text-align: center;
}

.layout_5 p,
.layout_5 h2 {
  color: #fff;
}
