button {
  background-color: $base-color;
  border: none;
  padding: 20px 80px;
  color: #fff;
  text-transform: uppercase;

    a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1em;
      display: inline;
    }
}

.layout_5 button {
    background-color: #fff;
    color: $base-color;
  a {
    background-color: #fff;
    color: $base-color;
  }
}
