button {
  background-color: $base-color;
  border: none;
  padding: 20px 80px;
  margin: 0 1em 1em 0;

    a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1em;
    }
}

.layout_5 button,
.layout_5 button a {
  background-color: #fff;
  color: $base-color;
}

