.contact{
    padding: 25vw 10vw 10vw 10vw;
    
 }

form {
    width: 100%;

    button{
        margin-top: 50px;

    }
}

input,
textarea {
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    border: 2px solid $base-color;
    margin-top: 5px;
}


label{
    display: block;
    margin-top: 20px;
}

@media only screen and (min-width: 1208px) {

    .contact{
        padding: 10vw 25vw;
     }  
}




