.layout_3 {
  //   display: flex; for media query
  //   justify-content: center; for media query
  background-color: $base-color;
}

.grid_wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.img_wrapper {
  margin: 4em;
  text-align: center;
}

.img_wrapper img {
  margin-bottom: 2em;
}

// for media query
// .grid_wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 400px);
//   grid-gap: 20px;
// }
