.layout_3 {
  //   display: flex; for media query
  //   justify-content: center; for media query
  background-color: $base-color;
}

.grid_wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.grid_form{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1rem;
}


// for media query
// .grid_wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 400px);
//   grid-gap: 20px;
// }
