.layout_3 {
  background-color: $base-color;
}

.grid_wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.grid_form{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 1rem;
}

.grid_wrapper .img_wrapper img {
  margin: 0 0 5vw 0;
}

@media only screen and (min-width: 900px) {
  .layout_3 {
    display: flex;
    justify-content: center;
  }

  .grid_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
    margin: 0 5vw;
  }
}
