.logo {
  background-color: $base-color;
  height: 60px;
  width: 150px;
  display: flex;
}

.logo a {
  align-self: center;
  margin-left: 5px;
}

nav {
  height: 50px;
  width: 110px;
  background-color: $base-color;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.logo::before,
.logo::after {
  content: "";
  width: 200px;
  height: 60px;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: right top;
  transform: skewX(-30deg);
}

nav::before,
nav::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: right bottom;
  transform: skewX(30deg);
}

nav a {
  text-decoration: none;
  color: #fff;
  align-self: center;
  font-size: 1rem;
  margin-right: 5px;
}


@media only screen and (min-width: 900px) {
.logo {
  width: 200px;
}

.logo a {
  margin-left: 10px;
}

nav {
  width: 150px;
}

.logo::before,
.logo::after {
  content: "";
  width: 250px;
}

nav a {
  margin-right: 10px;
  font-size: 1.1rem;
}
}
